body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 1rem;
  position: fixed;
  width: 100%;
}

header h1 {
  color: #ee7933;
}
section h2 {
  text-align: center;
}

.property {
  display: flex;
}

.property-text {
  margin: 100px 0 0 20px;
  padding: 150px;
  text-align: left;
}

nav a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}
nav a:hover {
  color: #ee7933;
}
main {
  padding: 2rem;
}

h2 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  color: #333;
}
p {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
}
.button {
  background-color: #ee7933;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  border: none;
}
.button:hover {
  background-color: #fff;
  color: #ee7933;
  border: solid #ee7933;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.property img {
  max-width: 100%;
  height: auto;
}

#listings {
  display: flex;
  flex-wrap: wrap;
}

#listings .property {
  flex: 1 1 calc(33.333% - 2rem);
  margin: 1rem;
  border: 1px solid #ddd;
  padding: 1rem;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 0 20px 0;
  border-radius: 8px;
  padding: 20px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"] {
  width: 100%;
  background-color: #ee7933;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

fieldset {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0.5rem 2%;
  width: 50%;
}

.section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section h2 {
  font-family: "Fira Sans", sans-serif;
  /* font-weight: 700; */
  font-size: 20px;
  line-height: 2px;
  font-style: normal;
  color: #333;
  margin-top: 40px;
}

label {
  margin-top: 10px;
}
